@font-face {
  font-family: 'PT Sans Regular';
  src: url(../fonts/PTSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Post No Bills Jaffna Bold';
  src: url(../fonts/PostNoBillsJaffna-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair Display Regular';
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url(../fonts/PlayfairDisplay-Bold.ttf) format('truetype');
}